@import 'config';
@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f7f7f7;
  color: #333;
}

button {
  font-family: 'Roboto', sans-serif;
}

.delete-post-button {
  color: $light-grey;
  font-size: 1rem;
  margin: 0 1rem;
}
a {
  text-decoration: none;
  color: $dark-color;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  box-shadow: 0 6px 6px -6px #999;
  .left-nav {
    display: flex;
    justify-content: left;
    a {
      display: flex;
      align-items: center;
      h1 {
        color: $primary-color;
        font-size: 1.2rem;
      }
      img {
        width: 2rem;
        margin-right: 1rem;
      }
    }
  }
  ul {
    display: flex;
    list-style: none;
  }
  a {
    color: $dark-color;
    padding: 0 1rem;
    transition: ease-in-out 0.3s;
    &:hover {
      color: $dark-color;
    }
  }
}

// Landing
.landing {
  position: relative;
  background: url('/images/landing.jpg') no-repeat center center/cover;
  height: 100vh;
  &-inner {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.about-section {
  background-color: white;
  margin: 4rem auto 0;
  .container {
    width: 90%;

    .header {
      display: flex;
      flex-grow: 1;
      .right {
        flex: 1;
      }
      .left {
        flex: 1;
        margin: 12rem auto 10rem;
        p {
          width: 80%;
          font-size: 1.4rem;
        }
      }
      img {
        margin: 4rem auto;
        width: 35rem;
      }
    }

    .for-you {
      margin: 4rem auto;
      h2 {
        text-align: center;
      }
      ul {
        margin: 2rem auto;
        width: 50%;
        min-width: 35rem;
        font-size: 1.3rem;
      }
    }
    .how-to {
      margin: 5rem auto;
      font-size: 1.2rem;
      img {
        margin: 0 auto;
        width: 13rem;
      }
      h2 {
        text-align: center;
        margin: 3rem auto;
      }
      .row1,
      .row2 {
        display: flex;
        justify-content: space-around;
        .post-your-thought,
        .discuss,
        .help,
        .update,
        .facebook,
        .tackle {
          h3 {
            text-align: center;
            margin: 1.5rem;
          }
          flex: 1;
          margin: 2rem 1rem;
        }
      }
    }
  }
}

/* homepage Posts page */
.main-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'posts users-grid' 'posts category-side';
  grid-template-columns: 10fr 4fr;
  margin-top: 1rem;
}

.posts-grid {
  grid-area: posts;
  .posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .post-user {
      text-align: center;
      padding-top: 0.5rem;
      .name {
        font-size: 0.8rem;
      }
    }
    .vote-box {
      border: 1px solid rgba(153, 153, 153, 0.5);
      text-align: center;
      padding: 1rem;
    }
  }
}
// pull this out from the grid so the one in usr profile can use as well
.post-item {
  display: grid;
  grid-template-columns: 2fr 9fr 2fr;
  grid-template-areas: 'idea-user idea-content idea-likes';
  padding: 0.5rem 1rem;
  // border: 1px solid #e8e8e8;
  &:hover {
    background-color: lighten($light-color, 5%);
    cursor: pointer;
  }

  //   border-collapse: collapse;
  background-color: white;
  .left {
    grid-area: idea-user;

    img {
      width: 2.5rem;
    }
  }
  .middle {
    grid-area: idea-content;
    .post-type {
      font-size: 0.8rem;
      background-color: $primary-color;
      color: white;
      padding: 0.2rem 0.5rem;
      border-radius: 0.3rem;
    }
    .post-item-content {
      font-size: 1.3rem;
      margin: 0.5rem auto;
    }
    .border-btn {
      border: 0.5px solid $light-grey;
      padding: 0.2rem 0.5rem;
      margin: 1rem;
      border-radius: 0.4rem;
      &:hover {
        background-color: $light-color;
      }
      .fa-comments {
        color: $grey-color;
        font-size: 0.8rem;
      }
      .comment-count {
        font-size: 0.8rem;
      }
    }
    .post-tags {
      margin-right: 0.5rem;
      font-size: 0.9rem;
      &:hover {
        // text-decoration: underline;
      }
    }
  }
  // posts page
  .right {
    grid-area: idea-likes;
    display: flex;
    flex-direction: column;
    align-items: center;
    .toggle-like {
      background-color: transparent;
      color: #333;
      border: 0.5px solid $light-grey;
      &:hover {
        color: $primary-color;
        border: 0.5px solid $primary-color;
      }
    }

    .primary-border {
      background-color: transparent;
      color: $primary-color;
      border: 0.5px solid $primary-color;
    }

    .status {
      font-size: 1rem;
      margin-top: 0.5rem;
      color: $dark-color;
      border: none;
      background-color: transparent;
      cursor: pointer;
      .status1 {
        text-align: center;
        font-size: 0.7rem;
      }

      .status2 {
        text-align: center;
        font-size: 1rem;
      }
      .red-status {
        color: $danger-color;
      }
      .green-status {
        color: $success-color;
      }
      .yellow-status {
        color: rgb(251, 184, 46);
        font-weight: 700;
      }
    }
  }
  .post-content {
    margin: 0.5rem;
  }
}

// comments
.discussion-section {
  background-color: white;
  width: 70%;
  box-shadow: 2px 2px 4px -4px $grey-color;

  .comments {
    padding-bottom: 0.5rem;
  }
  .comment-form {
    margin: 1rem 2rem;
    .form {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      .avatar {
        width: 2.5rem;
        border-radius: 2rem;
      }
      a {
        color: $primary-color;
        text-decoration: underline;
      }
    }

    textarea {
      width: 100%;
      width: 600px;
      padding: 0.6rem;
      font-size: 1rem;
      margin: 1rem;
      border-radius: 0.3rem;
      border: 1px solid #ccc;
    }
  }

  .comment-item {
    margin: 2rem;
    position: relative;
    .user {
      display: flex;
      padding: 1 rem;
      .avatar {
        width: 2.5rem;
        border-radius: 2rem;
      }
      .user-name {
        margin: 0.3rem 2rem;
        color: $grey-color;
      }
    }

    .comment-content {
      margin: 0 4rem;
    }
    .comment-info {
      display: flex;
    }
    .comment-date {
      margin: 0 1rem 0 4rem;
      font-size: 0.8rem;
    }
    .remove-sub-comment {
      color: $danger-color;
    }
    .comment-panel {
      display: flex;
      margin: 1rem 2rem 1rem;
      font-weight: 700;
    }
  }
  .remove-comment {
    position: absolute;
    top: 0rem;
    right: 2rem;
    color: $danger-color;
  }

  .subcomment-section {
    margin-left: 2rem;
    .subcomment-form {
      margin: 0.5rem;
      form {
        display: flex;
        align-items: flex-start;
      }
      textarea {
        margin: 0 0.5rem 1rem;
        width: 80%;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.3rem;
        border: 1px solid #ccc;
      }
      input {
        // width: 5rem;
      }
    }
  }
}
.right-panel-grid {
  grid-area: users-grid;
  .small-about {
    background-color: #fff;
    padding: 1.4rem;
    margin: 3.4rem auto 1rem;
  }
  .users {
    background-color: #fff;
    padding: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
    hr {
      border: 0;
      border-top: 1px solid $light-grey;
      position: relative;
      width: 18rem;
      margin: 1rem auto;
    }
    a {
      color: $primary-color;
      &:hover {
        text-decoration: underline;
      }
    }

    .user-avatar {
      width: 3rem;
      border-radius: 50%;
      margin: 0.2rem;
    }
  }

  // top discussion
  .top-discussion-section {
    background-color: white;
    a {
      font-size: 0.9rem;
      &:hover {
        text-decoration: underline;
      }
    }
    .item {
      padding: 1rem;
      hr {
        border: 0;
        border-top: 1px solid $light-grey;
        position: relative;
        width: 18rem;
        margin: 0.5rem auto;
      }
    }
    .stats {
      display: flex;
      align-items: baseline;
      color: $grey-color;
      font-size: 0.8rem;
      .comments {
        margin-right: 1rem;
        // border: 0.5px solid $light-grey;
        // padding: 0 0.3rem;
        // border-radius: 0.4rem;
        i {
          font-size: 0.8rem;
          margin-right: 0.2rem;
        }
      }
      .likes {
        i {
          font-size: 1.2rem;
          margin-right: 0.2rem;
        }
      }
    }
  }
  .fb-group {
    margin-top: 1rem;
  }
}

section.category {
  grid-area: category;
  padding: 2rem;
  border: 1px solid rgba(153, 153, 153, 0.5);
  background-color: white;
}

.main-grid ul {
  list-style: none;
}
.main-grid ul li {
  line-height: 1.5;
}

.svg {
  width: 1.5rem;
}

/* Post the Idea form */
i.fa-sort-up {
  font-size: 2rem;
  vertical-align: middle;
}

// .idea-form {
//   margin: auto;
//   padding: 5rem;
//   min-width: 700px;
//   width: 60%;
//   background-color: white;
//   .button {
//     font-size: 1rem;
//     padding: 0.5rem 2rem;
//     border-radius: 0.3rem;
//   }
//   .green-button {
//     color: white;
//     background-color: #00bb65;
//   }
// }

// Post Page
.post {
  background-color: white;
  margin: 0 auto 2rem;
  padding: 2rem;
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: 8fr 2fr;
  box-shadow: 2px 2px 4px -4px $grey-color;
  .left {
    grid-area: left;
    .user {
      display: flex;
      padding: 1 rem;
      .avatar {
        width: 2.5rem;
        border-radius: 2rem;
      }
      .user-name {
        margin: 0.3rem 2rem;
        color: $grey-color;
      }
    }
    .post-content {
      margin: 0 6rem;

      .post-type {
        font-size: 0.8rem;
        background-color: $primary-color;
        color: white;
        padding: 0.2rem 0.5rem;
        border-radius: 0.3rem;
      }
      .post-tags {
        margin-left: 0.5rem;
        font-size: 0.9rem;
        &:hover {
          // text-decoration: underline;
        }
      }

      .post-body {
        font-family: 'Lora', serif;
        font-weight: 500;
        margin: 1rem 0;
        font-size: 1.2rem;
      }
    }
  }
  // single post page
  .right {
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: center;
    .toggle-like {
      background-color: transparent;
      color: #333;
      border: 0.5px solid $light-grey;

      &:hover {
        color: $primary-color;
        border: 0.5px solid $primary-color;
      }
    }

    .primary-border {
      background-color: transparent;
      color: $primary-color;
      border: 0.5px solid $primary-color;
    }
  }
}

.post-form {
  background-color: #fff;
  width: 60%;
  margin: 1rem auto;
  box-shadow: 4px 4px 6px -6px $grey-color;

  h3 {
    color: $primary-color;
    padding: 2rem;
  }
  form {
    .label {
      margin: 0 1rem;
    }
    textarea {
      display: block;
      margin: 1rem auto;
      font-size: 1rem;
      width: 90%;
      min-width: 400px;
      padding: 0.6rem;
      border-radius: 0.3rem;
      border: 1px solid $light-color;
    }
    select {
      color: $grey-color;
      display: block;
      margin: 1rem 2rem;
      padding: 0.6rem;
      font-size: 1rem;
      width: 40%;
      background-color: white;

      border-radius: 0.3rem;
      border: 1px solid $light-color;
    }
  }
}
// Register, Login form
.register-form {
  margin: 1rem auto;
  background-color: white;
  box-shadow: 4px 4px 6px -6px $grey-color;
  padding: 3rem;
  width: 60%;
  text-align: center;
  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea {
    width: 100%;
    max-width: 400px;
    padding: 0.6rem;
    font-size: 1rem;
    margin: 2rem 0;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin: 0 2rem;
      min-width: 60px;
      &.confirm {
        margin: 0 -40px;
      }
    }
  }
  a {
    color: black;
    text-decoration: underline;
  }

  .btn {
    margin: 2rem auto 2rem;
    width: 80%;
    font-size: 1.2rem;
  }

  p {
    line-height: 2rem;
  }

  textarea {
    width: 100%;
    max-width: 400px;
    padding: 0.6rem;
    font-size: 1rem;
    margin: 2rem 0;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
  }
}

/* alert */

// Spinner
.container-xy {
  height: 100vh;
  .center-xy {
    height: 80%;
    display: flex;
    width: 100%;
    margin: auto;
  }
}

// Alert

.alert-container {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.alert {
  opacity: 0.7;
  margin: 0.2rem 2rem;
  padding: 1.5rem 4rem;
  border-radius: 0.4rem;
  text-align: center;
}

.alert-primary {
  color: #fff;
  background-color: $primary-color;
  // border: 1px solid $danger-color;
}
.alert-danger {
  color: #fff;
  background-color: $danger-color;
  // border: 1px solid $danger-color;
}

.alert-success {
  color: #fff;
  background-color: $success-color;
  // border: 1px solid $success-color;
}

// profile section -----------------------------
.profile-section {
  margin: 2rem auto;
  width: 70%;
  background-color: white;
  box-shadow: 4px 4px 6px -6px $grey-color;
  text-align: center;
  padding: 3rem;
  .profile-top {
    img {
      border-radius: 50%;
      font-size: 10rem;
    }
    .lead-status {
      font-size: 1.2rem;
    }
    a {
      margin: 0 0.3rem;
    }
  }
  .profile-about {
    .bio {
      width: 70%;
      margin: 0 auto;
    }
  }
}

.profile-action {
  display: flex;
  button,
  a {
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
  }
}

.my-post-section {
  margin: 2rem auto 0;
  h2 {
    margin: 1rem;
  }
}
.edit-profile-section {
  margin: 1rem auto;
  background-color: white;
  // box-shadow: 4px 4px 6px -6px $grey-color;
  padding: 3rem;
  width: 60%;
  text-align: center;
  .form-group {
    margin: 2rem 0 1rem;
    p {
      &.label {
        font-size: 1.2rem;
      }
      &.small {
        font-size: 0.8rem;
      }
    }
    select,
    input[type='text'],
    input[type='email'],
    input[type='password'],
    textarea {
      width: 100%;
      max-width: 400px;
      padding: 0.6rem;
      font-size: 1rem;
      border-radius: 0.3rem;
      border: 1px solid #ccc;
    }
  }
}
// profile section done -----------------------------

//Footer computer
.footer {
  font-size: 1rem;
  padding: 2rem;
  margin-top: 8rem;
  .content {
    width: 80%;
    max-width: 700px;
    margin: auto;
    .link {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
    }
    #copyright {
      text-align: center;
    }
  }
}

//contact
.contact {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

//mobile
@media screen and (min-width: 700px) {
  // Footer
  .footer {
    background-color: $dark-color;
    color: #fff;
    font-size: 0.8rem;
    .content {
      padding: 1rem;
      .logo {
        color: $primary-color;
        text-align: center;
      }
      * {
        color: $light-color;
        text-decoration: none;
        margin: 0.5rem;
        display: block;
      }
      #copyright {
        font-size: 0.7rem;
        color: $light-grey;
      }
    }
  }

  .contact {
    h1,
    .lead {
      text-align: center;
    }
    .content {
      width: 80%;
      margin: 3rem auto;
    }
    .label {
      margin: 2rem 1.5rem 0;
    }
    input[type='email'],
    input[type='text'] {
      display: block;
      margin: 0 auto;
      width: 80%;
      padding: 0.6rem;
      font-size: 1rem;
      margin-bottom: 1rem;
      border: none;
      border-bottom: solid 1px $primary-color;
    }
    textarea {
      display: block;
      margin: 1rem auto;
      width: 100%;
      padding: 0.6rem;
      font-size: 1rem;
      margin-bottom: 1rem;
      border: solid 1px $primary-color;
    }
    .btn {
      margin-top: 2rem;
      width: 100%;
    }
  }
}
