@import 'config';
@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f7f7f7;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  box-shadow: 0 6px 6px -6px #999;
  ul {
    display: flex;
    list-style: none;
  }
  a {
    color: #fff;
    padding: 0 1rem;
    transition: ease-in-out 0.3s;
    &:hover {
      color: $dark-color;
    }
  }
}

// Landing
.landing {
  position: relative;
  background: url('/images/landing.jpg') no-repeat center center/cover;
  height: 100vh;
  &-inner {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/* homepage Posts page */
.main-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'posts users-grid' 'posts category-side';
  grid-template-columns: 10fr 4fr;
  margin-top: 1rem;
}

.posts-grid {
  grid-area: posts;
  .posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .postItem {
      display: grid;
      grid-template-columns: 2fr 9fr 2fr;
      grid-template-areas: 'idea-user idea-content idea-likes';
      padding: 0.5rem 1rem;
      //   border-collapse: collapse;
      background-color: white;
      .left {
        grid-area: idea-user;
      }
      .middle {
        grid-area: idea-content;
        .border-btn {
          border: 0.5px solid $light-grey;
          padding: 0.2rem 0.5rem;
          margin: 1rem;
          border-radius: 0.4rem;
          .fa-comments {
            color: $grey-color;
            font-size: 0.8rem;
          }
          .comment-count {
            font-size: 0.8rem;
          }
        }
      }
      .right {
        grid-area: idea-likes;
        .grey-border {
          background-color: transparent;
          color: #333;
          border: 0.5px solid $light-grey;
        }
      }
      .post-content {
        margin: 0.5rem;
      }
    }
    .post-user {
      text-align: center;
      padding-top: 0.5rem;
      .name {
        font-size: 0.8rem;
      }
    }
    .vote-box {
      border: 1px solid rgba(153, 153, 153, 0.5);
      text-align: center;
      padding: 1rem;
    }
  }
}

.users-grid {
  grid-area: users-grid;
  .users {
    background-color: #fff;
    padding: 1.4rem;

    .user-avatar {
      width: 3rem;
      border-radius: 50%;
      margin: 0.2rem;
    }
  }
}

hr {
  background-color: $dark-color;
  position: relative;
  width: 18rem;
  margin: 0 auto;
}

section.category {
  grid-area: category;
  padding: 2rem;
  border: 1px solid rgba(153, 153, 153, 0.5);
  background-color: white;
}

.main-grid ul {
  list-style: none;
}
.main-grid ul li {
  line-height: 1.5;
}

.svg {
  width: 1.5rem;
}

/* Post the Idea form */
i.fa-sort-up {
  font-size: 2rem;
  vertical-align: middle;
}

.idea-form {
  margin: auto;
  padding: 5rem;
  min-width: 700px;
  width: 60%;
  background-color: white;
  .button {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
  }
  .green-button {
    color: white;
    background-color: #00bb65;
  }
}

.idea-form input[type='text'],
input[type='email'],
input[type='password'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  margin: 2rem 0;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

/* Register, Login form */
.register-form input[type='text'],
input[type='email'],
input[type='password'],
select,
textarea {
  width: 100%;
  max-width: 400px;
  padding: 0.6rem;
  font-size: 1rem;
  margin: 2rem 0;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

.register-form {
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  min-width: 500px;
  width: 60%;
  position: relative;
  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin: 0 2rem;
      min-width: 60px;
      &.confirm {
        margin: 0 -40px;
      }
    }
  }
  a {
    color: black;
    text-decoration: underline;
  }

  .btn {
    margin: 2rem auto 2rem;
    width: 80%;
    font-size: 1.2rem;
  }

  p {
    line-height: 2rem;
  }
}

/* alert */
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  color: white;
}

.alert-danger {
  background-color: #c1272d;
}

// Spinner
.container-xy {
  height: 100vh;
  .center-xy {
    height: 80%;
    display: flex;
    width: 100%;
    margin: auto;
  }
}

// Alert

.alert {
  width: 100%;
  margin: 0.2rem auto;
  background-color: transparent;
  padding: 0.2rem;
  color: #333;
  border-radius: 0.5rem;
  text-align: center;
}
.alert-primary {
  color: $primary-color;
  border: 1px solid $danger-color;
}
.alert-danger {
  color: $danger-color;
  border: 1px solid $danger-color;
}

.alert-success {
  color: $success-color;
  border: 1px solid $success-color;
}
